@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: black;
    color: #fff;
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
}

.logo {
    -webkit-animation: scale-up-ver-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-ver-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes scale-up-ver-top {
    0% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
}